.example-wrapper { 
    margin: 1em auto;    
    font: 18px/1.5 sans-serif; 
}
.example-wrapper code { 
    background: #F5F5F5; 
    padding: 2px 6px; 
}
.btn { 
    color: #fff !important; 
}
#task-th { 
    width: 15% !important;
}
#description-th { 
    width: 40% !important;
}

#date-th { 
    width: 20% !important;
}
